<%= form_with(model: dinamica, local: true) do |form| %>
  <% if dinamica.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dinamica.errors.count, "error") %> prohibited this dinamica from being saved:</h2>

      <ul>
        <% dinamica.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :nome, placeholder: "Nome da dinâmica" %>
  </div>

  <div>
    <%= form.text_field :descricao, placeholder: "Descrição da dinâmica" %>
  </div>

  <div>
    <%= form.submit  @dinamica.persisted? ? "Atualizar Dinâmica" : "Criar Dinâmica", class: "btn-form" %>
  </div>
<% end %>
