<div class="dinamica">
  <div class="flex-column">
    <h3 class="dinamica-title">
      <%= @dinamica.nome %>
    </h3>
    <p class="dinamica-description">
      <%= @dinamica.descricao %>
    </p>

    <% @dinamica.reviews.each do |review| %>
      <div class="divider"></div>
      <p>
        <span class="list-label">Comentário:</span> <%= review.comentario %>
      </p>
      <p>
        <span class="list-label">Nota:</span> <%= review.nota %>
      </p>
      <p>
        <span class="list-label">Data:</span> <%= review.data_criacao.strftime("%d/%m/%Y") %>
      </p>

      <span>
        <%= link_to "Alterar", edit_review_path(review.id) %>
      </span>
    <% end %>
    <div class="divider"></div>
    <p>
      <%= link_to "Adicionar review", new_dinamica_review_path(@dinamica), class: "button" %>
    </p>
  </div>

  <div class="flex-column">
      <%= link_to edit_dinamica_path(@dinamica.id), class: "btn-icon" do %>
        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10 3.12134H3C2.46957 3.12134 1.96086 3.33205 1.58579 3.70712C1.21071 4.0822 1 4.5909 1 5.12134V19.1213C1 19.6518 1.21071 20.1605 1.58579 20.5356C1.96086 20.9106 2.46957 21.1213 3 21.1213H17C17.5304 21.1213 18.0391 20.9106 18.4142 20.5356C18.7893 20.1605 19 19.6518 19 19.1213V12.1213" stroke="#2b303b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17.5 1.62132C17.8978 1.2235 18.4374 1 19 1C19.5626 1 20.1022 1.2235 20.5 1.62132C20.8978 2.01915 21.1213 2.55871 21.1213 3.12132C21.1213 3.68393 20.8978 4.2235 20.5 4.62132L11 14.1213L7 15.1213L8 11.1213L17.5 1.62132Z" stroke="#2b303b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      <% end %>
      <%= link_to dinamica_path(@dinamica.id), method: :delete, data: { confirm: 'Tem certeza?' }, class: "btn-icon btn-icon-danger" do %>
        <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 5H3H19" stroke="#2b303b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M17 5V19C17 19.5304 16.7893 20.0391 16.4142 20.4142C16.0391 20.7893 15.5304 21 15 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5M6 5V3C6 2.46957 6.21071 1.96086 6.58579 1.58579C6.96086 1.21071 7.46957 1 8 1H12C12.5304 1 13.0391 1.21071 13.4142 1.58579C13.7893 1.96086 14 2.46957 14 3V5" stroke="#2b303b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8 10V16" stroke="#2b303b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 10V16" stroke="#2b303b" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      <% end %>
  </div>
</div>
