<%= form_with(model: review) do |form| %>
  <% if review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
        <% review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :comentario, style: "display: block" %>
    <%= form.text_field :comentario %>
  </div>

  <div>
    <%= form.label :nota, style: "display: block" %>
    <%= form.number_field :nota %>
  </div>

  <div>
    <%= form.label :data_criacao, style: "display: block" %>
    <%= form.date_field :data_criacao %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
